	:root{
		--rect_border_size:2px;
		--rect_sideLength: 20px;
		--reach_top_color:#ac0909;
	}
	body{
		overflow:hidden;
		-webkit-user-select: none;
-moz-user-select: nonee;
-ms-user-select: none;
user-select: none;
	}


	@keyframes change_border_opacity{
		from{
			border:var(--rect_border_size) solid rgba(0,0,0,0.15) ;
		}
		to{
			border:var(--rect_border_size) solid rgba(0,0,0,1);
		}
	}
	@keyframes change_opacity{
		from{
			opacity: 0.15;
		}
		to{
			opacity: 1;
		}
	}
	@keyframes reverse_opacity{
		from{
			opacity: 1;
		}to{
			opacity: 0.15;
		}
	}
	@keyframes reverse_border_opacity{
		from{
			border:var(--rect_border_size) solid rgba(0,0,0,1) ;
		}
		to{
			border:var(--rect_border_size) solid rgba(0,0,0,0.15) ;
		}
	}

html, body {
    width: 100%;
}
table{
	border-collapse: collapse;
  padding: 0;
  border-spacing: 5px;



}


	
tr{
	padding:5px;
}

.border_opacity_animation{
	animation-name:change_border_opacity;
	animation-duration: 0.1s;
}
.border_opacity_animation_reverse{
	animation-name:reverse_border_opacity;
	animation-duration: 0.1s;
}
.opacity_animation{
	animation-name:change_opacity;
	animation-duration:0.1s;
}
.opacity_animation_reverse{
	animation-name:reverse_opacity;
	animation-duration:0.1s;
}

th{
	border:var(--rect_border_size) solid rgba(0,0,0,0.15);
}
.rect{
	 width:var(--rect_sideLength);
  height:var(--rect_sideLength);
}
.parent{
	  text-align:center;
}
.center{
  display: flex;
  align-content: center;
  justify-items: center;
}

th div{
	background-color:#000;
	opacity:0.15;
}
.full_size{
	width:100%;
	height:100%;
}
.center{
	display:flex;
	align-content: center;
	justify-items: center;
}
.small_rect{
	background:black;
	width:calc(var(--rect_sideLength) * 0.8); 
	height:calc(var(--rect_sideLength) * 0.8); ;
	padding:0px;
	margin:auto;
}

div{
	border-collapse: collapse;
}
#outer_layer{
	border:4px black solid;
	width: max-content;
	margin:auto auto;
	padding:5px;
}
#shape_preview{
	position: fixed;
	right:27.5%;
	top:10%;
	border:2px black solid;
	width:125px;
	height:350px;
}
#current_shape_preview{
	position: fixed;
	left:31%;
	top:10%;
	border:2px black solid;
	width:110px;
	height:80px;
}
.relative_pos{
	position: relative;
	height:max-content;
}
.selected{
	outline-offset: calc(-1 * var(--rect_border_size) / 2);
	outline:var(--rect_border_size) solid black;

}
.low_opacity{
	opacity:0.15;
}
.default_opacity{
	opacity:1;
}
.selected > *{
	opacity: 1;
	background-color: black;
}
.black_border{
	border:var(--rect_border_size) black solid;
}
.rects_preview{
	outline-offset: calc(-1 * var(--rect_border_size) / 2);
	outline:var(--rect_border_size) solid rgba(0,0,0,0.6);

}
.rects_preview > div{
	opacity:0.4;

}

.low_border_color{
	border-color:rgba(0,0,0,0.15)

}
.high_border_color{
	border-color:rgba(0,0,0,1);

}

.shaking_effect {
  animation: shake 0.25s linear;
}
.red_theme{

	outline-color:var(--reach_top_color) !important;
}
.red_theme > div{
	background-color:var(--reach_top_color) !important;
}
.red_theme_outline{
	/* 
	outline color will not work for top side only so box shadow is the best option here


	*/

		outline:initial !important;

}
.red_theme_outline:before {
content: "\a0";
display: block;
width: calc(var(--rect_sideLength) + 2 * var(--rect_border_size));
height: calc(var(--rect_sideLength) + 2 * var(--rect_border_size));
box-shadow: var(--rect_border_size) 0 0 black, 0 -2px 0 inset;
position: relative;
padding-bottom: 2px;
margin-bottom: calc(-1 * var(--rect_sideLength) - 3* var(--rect_border_size));
margin-right: calc(-2 * var(--rect_border_size));
top: calc(-2 * var(--rect_border_size));;
left: calc(-1.5 * var(--rect_border_size));

}

.red_theme_outline:after {
content: "\a0";
display: block;
width: calc(var(--rect_sideLength) + 2 * var(--rect_border_size));
height: calc(var(--rect_sideLength) + 2 * var(--rect_border_size));
box-shadow: var(--rect_border_size) 0 0 black;
position: relative;
margin-bottom: calc(-1 * var(--rect_sideLength) - 2 * var(--rect_border_size));
margin-right: calc(-2 * var(--rect_border_size));
top: calc(-1 * var(--rect_sideLength));;
left: calc(-1.5 * var(--rect_border_size) - var(--rect_sideLength) - 2 * var(--rect_border_size));

}


@keyframes shake {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  10% {
    transform: translate(-0.5px, -1px) rotate(-0.5deg);
  }
  20% {
    transform: translate(-1.5px, 0px) rotate(0.5deg);
  }
  30% {
    transform: translate(1.5px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }
  50% {
    transform: translate(-0.5px, 1px) rotate(-0.5deg);
  }
  60% {
    transform: translate(-1.5px, 0.5px) rotate(0deg);
  }
  70% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }
  80% {
    transform: translate(-0,5px, -0.5px) rotate(0.5deg);
  }
  90% {
    transform: translate(0.5px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(0.5px, -1px) rotate(-0.5deg);
  }
}

